/.DS_Store
/.idea
/.ipynb_checkpoints
/.vscode
ipynb_checkpoints/

# Virtual Environment files/ directories
.env
env/
.venv
venv/
.LLMVM
LLMVM/
ENV/
env.bak/
venv.bak/
LLMVM.bak/

# Ignore model-related files
/results/
*.bin
*.ckpt
*.h5
*.pt
*.onnx
*.tflite
*.pb
*.pkl
*.joblib
*.model
*.weights

# Ignore logs
/logs/
*.log

# Ignore checkpoints
/checkpoints/

# Ignore safetensors files
*.safetensors

# Ignore oth files
*.pth

# Ignore sate JSON files
*.state.json